{% extends 'secret/layout_forms.html' %}
{% block content %}
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        
        <div class="card-header">Forgot Password</div>
        <div class="card-body">
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required">
                <label for="email">Email</label>
              </div>
            </div>
            <button onclick="requestReset()" type="button" class="btn btn-primary btn-block" >Request Reset</button>
            <div class="text-center">
                <p style="color:red;">{{msg}}</p>
                <!-- <a class="d-block small mt-3" href="/secret/register">Register an Account</a> -->
                <a class="d-block small" href="/secret/login/">Login</a>
            </div>
        </div>
        
      </div>
    </div>
    <script>
        function requestReset(){
            email = $('#email').val().trim();
            $.ajax({
              method: "POST",
              url: "/api/forgot-password/",
              data: JSON.stringify({ email: email })
            })
            .done(function( msg ) {
                alert( (msg.data.message) );
            });
        }
    </script>
{% endblock %}
