{% extends 'secret/layout_forms.html' %}
{% block content %}
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <input type="hidden" name="token" id="token" value="{{token}}"/>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirm Password" required="required">
                <label for="confirm-password">Confirm Password</label>
              </div>
            </div>
            <button onclick="resetpwd()" type="button" class="btn btn-primary btn-block" >Reset</button>
        </div>
        
      </div>
    </div>
    <script>
        function resetpwd(){
            npwd = $('#password').val().trim();
            cnpwd = $('#confirm-password').val().trim();
            token = $('#token').val().trim();
            if(npwd!=cnpwd || cnpwd.length==0){
                alert("Enter valid password(s)");
            }
            else{
                
                $.ajax({
                  method: "POST",
                  url: "/api/forgot-password/",
                  data: JSON.stringify({ npwd: npwd, cnpwd: cnpwd, token:token })
                })
                .done(function( msg ) {
                    alert( (msg.data.message) );
                });
                
            }
        }
    </script>
{% endblock %}
